/* themes/classic/light-variables.css */

:root {
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Consolas, "Liberation Mono", monospace;
  --font-ui: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  --bg-primary: #ffffff;
  --bg-secondary: #ffffff;
  --border-primary: #aaa;
  --border-secondary: #999;
  --text-primary: #444;
  --text-secondary: #888;
  --shadow: 0px 0px 3px 3px #ffffff;

  --btn-bg: linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
  --btn-border: #aaa;
  --btn-text: #444;
  --btn-hover-bg: #ebebeb linear-gradient(#fefefe, #f8f8f8 40%, #e9e9e9);
  --btn-selected-bg: #ebebeb linear-gradient(#e4e4e4, #dfdfdf 40%, #dcdcdc);
  --btn-selected-text: #333;
  --btn-selected-border: #aaa;

  --json-key: #000;
  --json-string: #0b7500;
  --json-number: #1a01cc;
  --json-boolean: #1a01cc;
  --json-null: #1a01cc;
  --json-syntax: #444;
  --json-comment: #888;

  --structure-line: #bbb;
  --expander-color: #000;
  --expander-hover: #000;
}
